@{
	Layout = "~/Views/Shared/_LayoutForStudent.cshtml";
}
@{
	ViewData["Title"] = "Student-Dashboard";
}

@model IEnumerable<StudyChat.Core.Entities.Question>

<div>
	<div class=" row d-flex align-items-center justify-content-center ">
		@if (TempData["Message"] != null)
		{
			<div class="alert alert-success">
				@TempData["Message"]
				<button type="button" class="close" data-dismiss="alart"></button>
			</div>
		}
		<div class="col-md-9 card p-9 border-0">
			<h2 class="text-align-content-center text-info text-center">Have any question?</h2>
			<form asp-action="index" asp-controller="Home" asp-area="Student" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mb-1">
					<textarea name="content" rows="2" class="form-control" placeholder="Write your questions here ..."></textarea>
					<span asp-validation-for="content" class="text-danger"></span>
				</div>
				<div class="row">
					<div class="col-7">
						<br />
						<button type="submit" value="submit" class="btn btn-primary btn-sm float-end ">Ask Question?</button>
						<br />
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-md-8 card p-9 border-0">
			<br />
			<h2 class="text-align-content-center text-info text-center">Questions from All Students</h2>
			<div class="row">
				<div class="col-md-12">
					<br />
					@{
						int count = Model.Count();
						int i = count;
						if (count != 0)
						{
							@foreach (var question in Model)
							{
								<div class="card p-3 mb-3">
									<h5 class="text-info">Question: @i </h5>
									<p>@question.Content</p>
									<p>Asked by: @question.UserId</p>
									<div>
										@if (@question.IsAnswered)
										{
											<p>Answer:</p>
											<a class="btn btn-primary btn-sm">Show Answer</a>
										}
										else
										{
											<p>Answer: Not Answered Yet</p>
										}
									</div>
								</div>
								i--;
							}
						}
						else
						{
							<div class="col-md-12 card p-2">
								<br />
								<p class="text-align content-center text-danger text-center">
									No question asked yet by you! If you have any question, please ask.
								</p>
							</div>
						}

					}
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
} 