@{
	Layout = "~/Views/Shared/_LayoutForTeacher.cshtml";
}
@{
	ViewData["Title"] = "Respond from Teacher";
}


<div>
	<div class=" row d-flex align-items-center justify-content-center ">

		<div class="col-md-9 card p-9 border-0">
			<h2 class="text-align-content-center text-info text-center">Continue working, please keep with us!</h2>
		</div>
	</div>

</div>
