@{
	Layout = "~/Views/Shared/_LayoutForTeacher.cshtml";
}
@{
	ViewData["Title"] = "Question-Answer";
}

@model List<(string, string, string)>

<div>
	
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-md-8 card p-9 border-0">
			<br />
			<h2 class="text-align-content-center text-info text-center">Selected Question And Answer</h2>
			<div class="row">
				<div class="col-md-12">
					<br />
					@{
						int count = Model.Count();
						int i = 1;
						if (count != 0)
						{
							@foreach (var respond in Model)
							{
								<div class="card p-3 mb-3">
									<p>Question: @respond.Item1</p>
									<p>Answer: @respond.Item2</p>
									<p>Answerd by: @respond.Item3</p>
								</div>
								i++;
							}
						}
						else
						{
							<div class="col-md-12 card p-2">
								<br />
								<p class="text-align content-center text-danger text-center">
									Somthing went wrong! Please try again.
								</p>
							</div>
						}

					}
				</div>
			</div>
		</div>
	</div>

</div>
